    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About</h1>
                <p>My name is <b>Adam</b>.<br>I have many interests and others still ask me: ‘what is it you actually want?’</p>
                <p>But I have my <b>own clock</b>.<br>
                I learn to <b>trust myself</b> with the plan on how to achieve my goals.</p>
                <p>I am currently opening the destined chapter in my life.<br>The attributes I have gathered so far will catalyse in this final adventure.<br>The journey to <b>human mind</b>.</p>
                <p>I will specialize in <b>neuropsychiatry</b>.<br>I will pursue research in <b>digital health</b>.</p> 
                <p>I hope this path shall bring me <b>fulfillment</b>, <b>peace</b> and <b>stability</b>.<br>Being adventurous is exciting, but constant changes give heartbreaks.</p>
                <p>As I wish to enrich this website further<br>I hope it will eventually include some thoughtful <b>posts</b>.<br>For now, have a look at my <a href="https://github.com/kozload?tab=projects"><b>projects</b></a> that I invite you to <b>collaborate</b> on.</p>
                <br>
                <p>Let’s do it <b>together</b>
                    <br>
                <br>
                    <section class="sb-index text-measure">
                        <div class="sb sb-4">
      <hr class="section-break-4" />
    </div>
                    <p><i>through wisdom and strategy channel one's talents for common well-being<br>through senses and innovation empower humans to live righteously</i></p>
                   </p>
    <hr class="section-break-4" />
    <p>
            </div>
        </div>
    </section>
