    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About</h1>
                <br>
                <p>My name is <b>Adam</b>.
                <p>I am specialising in <b>adult psychiatry</b>.<br>I explore the intersection of <b>AI twin technology</b>, <b>digital health</b> and <b>extreme psychiatry</b>.</p>
                <p>My focus is on transforming mental health care through AI-driven assessment, cognitive resilience, and adaptation in extreme environments—from deep-sea to high-altitude to outer space.</p>
                <p>I am currently seeking <b>partners</b> to commence a <b>PhD</b>, pushing the boundaries of psychiatry and technology.</p>
                <p>Let’s build the future <b>together</b>
                    <br>
                    <br>
                    <br>
                    <br>
                    <section class="sb-index text-measure">
                        <div class="sb sb-4">
      <hr class="section-break-4" />
    </div>
                    <p><i>through wisdom and strategy channel one's talents for common well-being<br>through senses and innovation empower humans to live healthy</i></p>
                   </p>
    <hr class="section-break-4" />
    <p>
            </div>
        </div>
    </section>
