    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Download</h1>
                    <a href="https://oamk-my.sharepoint.com/:b:/g/personal/t0koad00_students_oamk_fi/Eeu7kDc7yrdDgDnl7hIvWOcB6qVS2ZKflqSXB5VD75AkSA?e=9LL3ta" class="btn btn-default btn-lg">CV</a>
                    <a href="https://oamk-my.sharepoint.com/:b:/g/personal/t0koad00_students_oamk_fi/EY9kNiLmonZLub_2P6jms5kB_SNxp71yFXJwkr_icMsSIg" class="btn btn-default btn-lg">transcripts</a>
                </div>
            </div>
        </div>
    </section>
