    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Download</h1>
                    <a href="https://orcid.org/0000-0002-1346-2365" class="btn btn-default btn-lg">ORCID</a>
                    <a href="https://oamk-my.sharepoint.com/:b:/g/personal/t0koad00_students_oamk_fi/EY9kNiLmonZLub_2P6jms5kBZHFltruauWtZETxNaN5ANQ?e=HUYouS" class="btn btn-default btn-lg">transcripts</a>
                </div>
            </div>
        </div>
    </section>
